:javascript
  $(document).ready(function () {
    $('.team-number-link').bind('click', function () {
      document.location.href = document.location.pathname + '/team/' + $(this).html();
    });
  });


%h2 Overall Rankings
%table{:id => 'overall-rankings', :class => 'tablesorter'}
  %thead
    %tr
      %th Rank
      %th Team Number
      %th Wins
      %th Losses
      %th Ties
      %th Played
      %th QS
      %th RS
  - @results.each do |r|
    %tr
      - r.each do |i|
        - if r.index(i) == 1
          %td{:class => 'team-number-link'}= i
        - else
          %td= i
