%h2 Overall Rankings
%table{:id => 'rankings', :class => 'tablesorter'}
  %thead
    %tr
      %th Rank
      %th Team Number
      %th QS
      %th HP
      %th BP
      %th TP
      %th CP
      %th W-L-T
  - @results.each do |r|
    %tr
      - r.each do |i|
        - if r.index(i) == 1
          %td{:class => 'team-number-link'}= i
        - else
          %td= i
