:javascript
  $(document).ready(function () {
    $('.team-number-link').bind('click', function () {
      document.location.href = '/event/' + "#{params[:short_name]}" + '/team/' + $(this).html();
    });
  });
