:javascript
  $(document).ready(function () {
    $('.team-number-link').bind('click', function () {
      document.location.href = document.location.pathname + '/team/' + $(this).html();
    });
  });
