%p.error Sorry, but something went wrong. Most likely, the regional hasn't occured yet. Please try again later.
%a.error{:href => '/', :alt => 'Go Back', :title => 'Go Back'}Go Back 
-# = haml(:_event_input_js, :layout => false)
-# = haml(:_event_input, :layout => false)
