:javascript
  $(document).ready(function () {
    $('#overall-rankings').tablesorter();

    $('.select-event').bind('click', function () {
      document.location = '/';
    });

    $('.select-team').bind('click', function () {
      document.location.reload();
    });
  });

#breadcrumbs
  %ul
    %li
      %a{:class => 'select-event'} Select Event >>
    %li 
      %a{:class => ['select-team', 'current-crumb']} Overall Rankings
= haml(:_team_input, :layout => false)
= haml(:_team_input_js, :layout => false)
= haml(:_overall_rankings, :layout => false)
= haml(:_overall_rankings_js, :layout => false)

