:javascript
  $(document).ready(function () {
    $('img.goback').bind('click', function () {
      document.location = '/';
    });

    $('img.next').bind('click', function () {
      alert('You need to select a team!');
    });
  });

= haml(:_team_input, :layout => false)
= haml(:_team_input_js, :layout => false)
