:javascript
  $(document).ready(function () {

    $('#sidebar-previous').bind('click', function () {
      document.location = '/';
    });
  });

= haml(:_team_input, :layout => false)
= haml(:_team_input_js, :layout => false)
