:javascript
  $(document).ready(function () {
    $('#sidebar-previous').removeClass('hidden');
    $('#sidebar-previous button').html('Choose Event');


    $('#sidebar-previous').bind('click', function () {
      document.location = '/';
    });
  });

= haml(:_team_input, :layout => false)
= haml(:_team_input_js, :layout => false)
