%form{:name => 'event_form'}
  %select{:name=> 'event_combobox'}
    - @event_names.each do |e|
      %option{:value => @event_urls[@event_names.index(e)]}= e
  %input{:type => 'button', :id => 'event_go_button', :value => 'Go', :onclick => 'window.location.href = document.event_form.event_combobox.options[document.event_form.event_combobox.selectedIndex].value;'}

