!!!
%html
  %head
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js'}
    %title COMETS Robotics Stats Hub
  %body
    %h1 COMETS Robotics Stats Hub
    #content
      = yield
