!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => '/styles.css'}
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900'}
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Geo:regular'}
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Droid+Sans'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js'}
    %script{:type => 'text/javascript', :src => '/tablesorter-min.js'}
    %title Stats Hub

  :javascript
    $(document).ready(function () {
      setTimeout("location.reload(true);", 20000);

      $('input, textarea, select').focus(function() {
        setTimeout("location.reload(true);", 70000);
      });
    });

  %body
    #wrapper
      #header
        %a{:href => '/', :alt => 'StatsHub Homepage'}
          %img{:src => '/images/FRCStatsHubHeader.png'}
        %br
        %br
        %h3.tagline An open source project brought to you by FRC team #3357 - COMETS Robotics!
      .top.shape
      .error
      .content.shape
        =yield
