!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => '/styles.css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js'}
    %title COMETS Robotics Stats Hub
  %body
    #header
      %h1 COMETS
      %h2 FIRST Robotics Competition Stats Hub
    #wrapper
      #sidebar
        .content
          %p Foobar

      .top.shape
      .error
      .content.shape
        =yield
      .bottom.shape
