html {
  margin-left:auto;
  margin-right:auto;
  background-color: #181C21;
}

body {
  text-align: center;
  background-color: #181C21;
}

h2, h3 {
  font-family: Georgia;
}

h2 {
  font-size: 20px;
  color: #333;
  margin-top: 40px;
}

h3 {
  font-size: 18px;
  font-style: italic;
  color: #99CCCC;
}

.hidden {
  display:none;
}

.shape {
  width: 600px;
  margin-left: 10px;

  float: left;
  background-color: #FFF;
}

.top {
  padding: 15px 0px 0px 40px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* background-color: #99CCCC; */
  background-color: #DDD;
}

.content {
  width: 610px;
  min-height: 400px;
  padding: 10px 10px 20px 20px;
}

.content p {
  color: #617370;
}

.bottom {
  /* padding: 20px; */
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 10px;
}

.team-input {
  text-align: center;
}

table {
  width: 580px;
  font-family: Verdana;
  font-size: 14px;
}

table.team-info {
  font-size: 14px;
}

table.pretty {
  font-size: 12px;
}

table.pretty th {
  width: 200px;
  background-color: #99CCCC;
  font-weight: bold;
  color: #333;
}

table.pretty th.match, table.pretty th.score {
  width: 70px;
}

table.pretty td.rank, table.pretty td.rank-heading {
  
}

#header {
  background-color: #FFF;
  margin-left:10px;
}

#wrapper {
  text-align: left;
  width:1000px;
  margin: 0 auto;
  background-color:red;
}

#sidebar {
  width: 160px;
  height: 300px;

  margin-left:30px;

  -moz-border-radius: 10px;
  border-radius: 10px;

  float: left;
  background-color: #FFF;
}

#sidebar #sidebar-previous {
  padding-top: 10px;
  padding-left: 10px;
  width: 105px;
  height: 20px;
  float: left;
}
