html {
  background-color: #181C21;
}

body {
  /* text-align: center; */
}

h1 {
  text-align: center;
  font-family: Orbitron;
  font-size: 36px;
  color:#00c900;
}

h2 {
  margin-left: 10px;
  font-family: 'Droid Sans';
  font-size: 38px;
  color: white;
}

h2.subtitle {
}

h3 {
  font-family: Georgia;
  font-size: 18px;
  font-style: italic;
  color: #fff;
  /* color: #99CCCC; */
}

.hidden {
  display:none;
}

.shape {
  width: 600px;
  float: left;
  background-color: #FFF;
}

.top {
  padding: 15px 0px 0px 40px;
  background-color: #0f1923;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.content {
  width: 640px;
  min-height: 400px;
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#0f1923), to(#B5BDC8)) no-repeat;
}

.content p {
  color: #617370;
}

.bottom {
  height: 30px;
  padding: 0px 0px 0px 40px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #B5BDC8;
}

#footer {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: 12px;
  font-family: Raleway;
  font-weight: bold;
}

.team-input {
  text-align: center;
  margin-bottom: 30px;
}

#fields {
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0px 15px 0px;
  width: 400px;
  
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  background: white;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 580px;
  background: white;
}

table.team {
  padding: 5px;
  font-size: 18px;
  font-family: 'Droid Sans'
}

table.pretty {
  font-size: 14px;
  font-family: 'Verdana';
  background: white;
}

table.pretty th {
  width: 200px;
  background-color: #99CCCC;
  font-weight: bold;
  color: #333;
}

table.pretty th.match, table.pretty th.score {
  width: 70px;
}

table.pretty td.rank, table.pretty td.rank-heading {
  
}

#wrapper {
  width:650px;
  margin-left: auto;
  margin-right: auto;
}

#header img {
  float: left;
  margin-bottom: 20px;
}

h3.tagline {
  margin-top: 30px;
}

img.goback {
  float: left;
  margin-left: 10px;
}

img.next {
  margin-left: 520px;
}

#eventselect {
  margin-left: 100px;
}

#pagebreak {
  height: 25px;
  background-color: #2c3033;
  margin: 0px;
  -webkit-box-shadow: 0px 5px 10px #111;
  -moz-box-shadow: 0px 5px 10px #111;
}

.team-input {
  color: white;
}
